In [1]:
import pandas as pd
import regex as re

In [2]:
pd.set_option('display.max_row', 1000)
pd.set_option('display.max_columns', 50)

# Reading in the csv as dataframes
naming conventions chosen by Matthew

In [3]:
onboard_df = pd.read_csv('../data/VehicleDiagnosticOnboardData.csv')
onboard_df.head()
#in long form, may need to pivot remember the data is organized. faultid=recordid?

   Id                  Name     Value  FaultId
0   1             IgnStatus     False        1
1   2     EngineOilPressure         0        1
2   3  EngineOilTemperature  96.74375        1
3   4    TurboBoostPressure         0        1
4   5            EngineLoad        11        1

In [4]:
fault_df = pd.read_csv('../data/J1939Faults.csv')
fault_df.head(20)

C:\Users\zylst\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3071: DtypeWarning: Columns (15) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,RecordID,ESS_Id,EventTimeStamp,eventDescription,actionDescription,ecuSoftwareVersion,ecuSerialNumber,ecuModel,ecuMake,ecuSource,spn,fmi,active,activeTransitionCount,faultValue,EquipmentID,MCTNumber,Latitude,Longitude,LocationTimeStamp
0,1,990349,2015-02-21 10:47:13.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:34:25.000
1,2,990360,2015-02-21 11:34:34.000,NaN,NaN,unknown,unknown,unknown,unknown,11,629,12,True,127,NaN,1439,105354361,38.857638,-84.626851,2015-02-21 11:35:10.000
2,3,990364,2015-02-21 11:35:31.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,False,127,NaN,1369,105336226,41.421250,-87.767361,2015-02-21 11:35:26.000
3,4,990370,2015-02-21 11:35:33.000,Incorrect Data Steering Wheel Angle,NaN,unknown,unknown,unknown,unknown,11,1807,2,True,127,NaN,1369,105336226,41.421018,-87.767361,2015-02-21 11:36:08.000
4,5,990416,2015-02-21 11:39:41.000,NaN,NaN,22281684P01*22357957P01*22362082P01*,13063430,0USA13_13_0415_2238A,VOLVO,0,4364,17,False,2,NaN,1674,105427130,38.416481,-89.442638,2015-02-21 11:39:37.000
5,6,990431,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,17,True,1,NaN,1417,105438630,33.043564,-96.179722,2015-02-21 11:40:59.000
6,7,990439,2015-02-21 11:40:52.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,True,2,NaN,1597,105344243,36.902916,-86.436481,2015-02-21 11:41:29.000
7,8,990441,2015-02-21 11:40:22.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,111,17,True,1,NaN,1429,105356054,38.228796,-84.582500,2015-02-21 11:41:44.000
8,9,990442,2015-02-21 11:40:22.000,High (Severity Low) Water In Fuel Indicator,NaN,04993120*00022630*082113134117*07700053*I0*BBZ*,79463845,6X1u10D1500000000,CMMNS,0,97,15,True,1,NaN,1429,105356054,38.228796,-84.582500,2015-02-21 11:41:44.000
9,10,990446,2015-02-21 11:41:55.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00025921*082113134117*07700053*I0*BBZ*,79466580,6X1u10D1500000000,CMMNS,0,111,17,False,1,NaN,1417,105438630,33.039953,-96.182592,2015-02-21 11:41:51.000
10,11,990459,2015-02-21 11:42:19.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,111,17,True,1,NaN,1582,105410980,40.158055,-80.151018,2015-02-21 11:42:55.000
11,12,990462,2015-02-21 11:43:18.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,False,2,NaN,1439,105354361,38.857592,-84.626805,2015-02-21 11:43:13.000
12,13,990468,2015-02-21 11:43:10.000,Low (Severity Low) Engine Coolant Level,NaN,unknown,unknown,unknown,unknown,0,111,17,False,2,NaN,1597,105344243,36.881527,-86.444722,2015-02-21 11:43:06.000
13,14,990470,2015-02-21 11:43:40.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00184697*060712145341*07700027*I0*BBZ*,79618845,6X1u10D1500000000,CMMNS,0,111,17,False,1,NaN,1582,105410980,40.161944,-80.161018,2015-02-21 11:43:36.000
14,15,990494,2015-02-21 11:14:38.000,Incorrect Data Brake Signal Sensor 1,NaN,unknown,unknown,unknown,unknown,11,1067,2,True,127,NaN,309,105442799,36.181898,-86.695046,2015-02-21 11:44:52.000
15,16,990495,2015-02-21 11:45:06.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,111,17,False,1,NaN,1601,105430420,38.272037,-78.937129,2015-02-21 11:45:02.000
16,17,990504,2015-02-21 11:45:14.000,Low (Severity Low) Engine Coolant Level,NaN,04993120*00190002*082113134117*07700053*I0*BBZ*,79623056,6X1u10D1500000000,CMMNS,0,111,17,True,1,NaN,1601,105430420,38.279629,-78.935509,2015-02-21 11:45:51.000
17,18,990541,2015-02-21 11:47:13.000,NaN,NaN,unknown,unknown,unknown,unknown,0,5444,1,False,126,NaN,302,105435601,36.066712,-86.433842,2015-02-21 11:47:08.000
18,19,990542,2015-02-21 11:47:13.000,NaN,NaN,unknown,unknown,unknown,unknown,0,5396,1,False,126,NaN,302,105435601,36.066712,-86.433842,2015-02-21 11:47:08.000
19,20,990544,2015-02-21 11:18:20.000,High Voltage (Fuel Level),NaN,unknown,unknown,unknown,unknown,49,96,3,True,126,NaN,310,105442984,35.485787,-86.466712,2015-02-21 11:47:32.000

# Cleaning fault data

##### From the readme: 
<br> "Remove faults occurring in the vicinity of the service locations at (36.0666667, -86.4347222), (35.5883333, -86.4438888), and (36.1950, -83.174722)" <br> <br>


We want to go with 3 decimal points to get within 111m.

In [5]:
fault_df[['Latitude', 'Longitude']] = fault_df[['Latitude','Longitude']].astype(str)

In [6]:
fault_df['Latitude'] = fault_df['Latitude'].str.extract(r'(\-?\d+.\d{3})')

In [7]:
fault_df['Longitude'] = fault_df['Longitude'].str.extract(r'(\-?\d+.\d{3})')

In [8]:
fault_df['Location'] = fault_df['Latitude'].map(str) + ' , ' + fault_df['Longitude'].map(str)

In [9]:
fault_df = fault_df.loc[(fault_df.Location != '36.066 , -86.434') & (fault_df.Location != '35.588 , -86.443') & (fault_df.Location != '36.195 , -83.174')]

In [10]:
fault_df.shape

(1139316, 21)

##### From the readme:
<br> "Remove faults where the EquipmentID has more than 5 characters." confirmed with Michael to also drop NaNs

In [11]:
#confirmed that NaN values are not necessary
fault_df['EquipmentID'] = fault_df['EquipmentID'].dropna()

In [12]:
fault_df = fault_df[fault_df['EquipmentID'].str.len()<=5]

In [13]:
fault_df.shape

(61682, 21)

In [14]:
fault_df['EquipmentID'].str.len().unique()

array([4, 3, 5], dtype=int64)

##### our own analysis:
<br> actionDescription,faultValue,ecuSource were all empty columns that we'll remove.

In [1]:
fault_df = fault_df.drop(['actionDescription','faultValue','ecuSource'],axis=1)

NameError: name 'fault_df' is not defined

In [16]:
fault_df.shape

(61682, 18)

# Pivoting onboard data from long to wide

In [17]:
#see what we're working with
onboard_df.head(15)

    Id                       Name            Value  FaultId
0    1                  IgnStatus            False        1
1    2          EngineOilPressure                0        1
2    3       EngineOilTemperature         96.74375        1
3    4         TurboBoostPressure                0        1
4    5                 EngineLoad               11        1
5    6           AcceleratorPedal                0        1
6    7  IntakeManifoldTemperature             78.8        1
7    8                   FuelRate                0        1
8    9                    FuelLtd  12300.907429328        1
9   10                  EngineRpm                0        1
10  11                 LampStatus             1023        1
11  12         BarometricPressure            14.21        1
12  13                  FuelLevel             43.2        1
13  14                      Speed                0        1
14  15              EngineTimeLtd           1632.2        1

In [18]:
#FaultId is what we'll want to eventually join on

**onboard_df['FaultId'] <-> fault_df['RecordID']**

### onboard data dictionary
* **Id**: similar to index and not necessary for our data
* **Name**: Variable being measured at the time of whatever fault number FaultId is
* **Value**: the actual measurement value for whatever variable is being measured in Name
* **FaultId**: The same as the fault data csv's RecordID

In [19]:
#chunking the data so I can test my code quickly
test_df = onboard_df.iloc[0:1000]

In [20]:
test_df.pivot(index='FaultId',columns='Name',values='Value')

Name,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
FaultId,,,,,,,,,,,,,,,,,,,,,,,
1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,0,3276.75,NaN,0
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN
6,48,14.4275,False,64.6226,470381.4,181.4,30,38.28,196.5313,1514.5,9480,44,70349.809963756,4.583399,NaN,True,111.2,1023,NaN,13.6022,3276.75,NaN,6.67
7,82.8,14.2825,False,64.6226,278736.7,188.6,80,39.44,210.0313,1711.375,6292.2,64.8,40961.065436834,14.29175,NaN,True,78.8,1023,NaN,41.53478,3276.75,NaN,20.59
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1023,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1023,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
11,NaN,14.1375,False,64.6226,257885.9,181.4,80,34.22,218.975,1382.375,5085.35,42.8,37724.957799834,13.72378,NaN,True,78.8,1023,NaN,64.82649,3276.75,NaN,17.69
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
15,0,14.355,False,66.48672,65022.28,181.4,0,41.76,193.8313,1369.875,1308.9,51.6,9487.342989502,0,32,True,100.4,1279,False,26.31119,3276.75,0,0.58
16,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
17,37.2,14.1375,False,66.48672,268575.9,183.2,26,33.64,217.2875,1035.5,5004.75,66,39450.13338542,2.166218,NaN,True,60.8,17407,NaN,36.38905,3276.75,NaN,1.16
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
19,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
20,0,14.2825,False,50.33107,48031.9,168.8,28,28.42,192.1438,606,1026.45,0,6823.035759056,1.096317,32,True,122,1279,False,1.339832,3276.75,0,0.58
21,0,14.2825,False,50.33107,48031.9,168.8,28,28.42,192.1438,606,1026.45,0,6823.035759056,1.096317,32,True,122,1279,False,1.339832,3276.75,0,0.58
22,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN
24,98.4,14.065,False,66.48672,117346.1,185,100,37.7,207.05,1193.625,2211.1,100,15844.37924883,17.97696,32,True,80.6,255,False,58.79725,3276.75,0,27.84
25,31.2,14.21,False,60.89438,244297.7,149,14,42.34,169.5313,1220.375,5135.1,34.8,35476.061121158,2.364347,NaN,True,77,1023,NaN,7.990445,3276.75,NaN,3.48
26,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
27,32,14.21,False,54.05929,167028.5,86,24,46.98,80.7125,1032.875,3186.25,NaN,23781.42855117,3.051197,32,True,55.4,1279,False,9.505037,3276.75,0,2.03
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
29,0,14.21,False,66.48672,231667.7,168.8,13,26.1,204.4063,599.875,4378.65,NaN,32180.911030536,0.594389,32,True,96.8,1279,True,0,3276.75,0,0.29
30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
31,45.2,14.21,False,66.48672,231604,174.2,65,27.84,202.775,752.875,4543.35,86,32592.094829474,2.985153,32,True,89.6,1279,False,4.708828,3276.75,0,0.58
32,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
33,78.4,14.2825,False,64.6226,463491.2,185,78,35.96,210.875,1404.875,9409.9,NaN,68046.361756342,13.16902,NaN,True,89.6,2,False,48.61259,3276.75,NaN,18.56
34,NaN,14.21,False,37.28227,363530.9,68,30,40.02,70.025,649.75,8570.1,20,55447.73242441,1.320864,NaN,True,48.2,2047,NaN,1.970912,3276.75,NaN,0.29
35,56.8,14.355,False,66.48672,319674.2,186.8,52,34.8,220.2688,1386.5,5791.95,29.2,48822.165274224,12.0727,NaN,True,82.4,1023,NaN,65.20514,3276.75,NaN,19.43
36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
38,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
39,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
40,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,255,NaN,NaN,NaN,NaN,NaN
41,0,14.21,False,66.48672,121095.5,174.2,0,35.96,220.4375,1048.125,2319.65,54.4,15620.097176682,0,32,True,51.8,18431,False,51.97187,3276.75,0,0.58
42,82.4,14.1375,False,66.48672,249558.7,204.8,87,39.44,226.175,1605.25,4671.1,64,34261.79428414,14.6748,32,True,116.6,17407,False,40.65127,3276.75,0,16.53
43,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
44,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
45,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
46,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,22527,NaN,NaN,NaN,NaN,NaN
47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
48,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
49,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
50,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
51,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
52,28.4,14.355,False,62.13712,249032.1,127.4,12,44.66,137.75,1188.25,4913.6,NaN,33951.39212304,2.073757,32,True,84.2,1279,False,8.000154,3276.75,0,1.74
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
56,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
57,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
58,NaN,13.63,False,66.48672,283927.7,138.2,10,36.54,134.8813,660.875,5509.05,83.2,42060.15325918,1.149152,NaN,True,78.8,1023,NaN,0,3276.75,NaN,1.16
59,NaN,14.1375,False,64.6226,248727.3,188.6,100,35.96,219.65,1471.625,4977.05,48.8,36158.681703526,17.30332,NaN,True,95,1023,NaN,36.32109,3276.75,NaN,25.81
60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
62,57.6,14.4275,False,64.6226,470383.5,190.4,46,35.96,211.55,1321.875,9480.05,44.4,70350.33830786,6.696783,NaN,True,114.8,1023,NaN,62.20508,3276.75,NaN,9.57
63,NaN,14.2825,False,64.6226,257925.7,183.2,47,33.64,218.75,1227.125,5086.05,38.4,37731.69418716,6.604322,NaN,True,66.2,1023,NaN,57.27295,3276.75,NaN,3.48
64,100,14.355,False,64.6226,256059.8,183.2,60,32.48,224.15,1387.25,5385.25,54,37941.843054526,9.893274,NaN,True,93.2,1279,NaN,65.15659,3276.75,NaN,11.89
65,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
66,59.2,14.355,False,64.6226,278782.4,188.6,48,35.96,218.1875,1385.375,6292.95,62,40966.877221978,7.740265,NaN,True,84.2,1023,NaN,64.77795,3276.75,NaN,8.41
67,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,6143,NaN,NaN,NaN,NaN,NaN
68,0,14.21,False,66.48672,238338.1,39.2,26,48.72,36.44375,800.5,4627.95,NaN,33322.530553254,2.166218,32,True,42.8,6143,True,0,3276.75,0,0.58
69,0,14.21,False,66.48672,238338.1,41,25,48.72,36.8375,799.875,4628,NaN,33322.530553254,1.954879,32,True,42.8,1279,True,0,3276.75,0,0.58
70,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
71,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
73,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
75,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN
76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,17407,NaN,NaN,NaN,NaN,NaN
77,68.4,14.2825,False,60.89438,244305,183.2,62,39.44,204.2937,1366.125,5135.45,33.2,35477.64615347,9.64231,NaN,True,77,1023,NaN,34.12687,3276.75,NaN,8.12
78,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
79,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
80,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
82,13.6,13.63,False,66.48672,243988.3,150.8,21,33.06,174.5938,611.75,4709.15,NaN,34319.515877502,0.8717705,32,True,95,1279,False,2.902969,3276.75,0,0.58
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
85,35.2,14.355,False,66.48672,167065.9,183.2,44,34.22,204.9688,820.5,3187.05,NaN,23787.768680418,2.892693,32,True,95,1279,False,7.252567,3276.75,0,2.32
86,26.4,14.355,False,66.48672,319683.6,186.8,0,34.8,220.4375,1425.25,5792.1,29.2,48824.014478588,0.964231,NaN,True,87.8,2035,NaN,65.82651,3276.75,NaN,13.92
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17407,NaN,NaN,NaN,NaN,NaN
90,10.8,14.2825,False,0,97194.4,181.4,10,58,196.1375,1156.25,2089,62,15302.562370178,1.571829,89.6,True,127.4,17407,False,12.31577,3276.75,10.8,1.74
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
92,NaN,13.775,False,66.48672,283950.2,188.6,100,33.06,215.0375,1025.25,5509.65,75.2,42064.380012012,11.41227,NaN,True,69.8,1023,NaN,35.08805,3276.75,NaN,15.95
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
94,100,14.1375,True,66.48672,249576.5,183.2,69,39.44,217.4563,1398.875,4671.4,62,34265.09643479,11.63682,32,True,86,17407,False,66.98187,3276.75,0,14.79
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
96,99.6,14.065,False,66.48672,249585.7,170.6,87,41.18,198.8375,1436.75,4671.6,64.4,34266.41729505,15.81075,32,True,96.8,1279,False,12.48568,3276.75,0,11.89
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,255,NaN,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN
101,0,14.355,False,66.48672,65108.35,176,15,24.94,190.0063,598.375,1310.35,100,NaN,0.6736408,32,True,100.4,1279,False,0,3276.75,0,0
102,NaN,13.5575,False,66.48672,287908.9,109.4,32,38.86,108.3313,660.625,5484.35,34.8,42619.669665316,1.796376,NaN,True,57.2,1023,NaN,4.330181,3276.75,NaN,2.03
103,58.4,14.21,False,66.48672,268600.1,186.8,45,37.12,202.325,1240.125,5005.5,64,39453.963880174,7.396841,NaN,True,68,17407,NaN,57.94286,3276.75,NaN,13.63
104,0,13.92,False,64.6226,458301.3,185,0,34.8,207.7813,1107.125,8716.05,68,67281.187407724,0,NaN,True,46.4,2,False,52.94277,3276.75,NaN,0.87
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
106,29.6,14.355,False,62.13712,249032.7,150.8,31,39.44,155.75,889.625,4913.9,NaN,33951.656295092,1.902045,32,True,87.8,1279,False,5.990407,3276.75,0,1.74
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,255,NaN,NaN,NaN,NaN,NaN
109,NaN,13.5575,False,64.6226,248760.2,183.2,0,37.7,221.1687,1621.375,4977.75,47.2,36166.078520982,0,NaN,True,53.6,1023,NaN,55.48651,3276.75,NaN,2.32
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1023,NaN,NaN,NaN,NaN,NaN
112,84.4,14.2825,False,64.6226,463548.2,185,87,35.96,211.1,1414.875,9410.95,NaN,68055.34360611,14.96539,NaN,True,96.8,17407,False,49.27279,3276.75,NaN,20.3
113,100,13.7025,False,64.6226,482166.8,179.6,100,38.86,189.1625,1552.5,9321.6,25.2,73889.58337453,18.21472,NaN,True,59,1023,NaN,52.93306,3276.75,NaN,26.39
114,0,NaN,NaN,NaN,NaN,NaN,6,0,197.0375,0,NaN,NaN,37943.428086838,0,NaN,True,118.4,1279,NaN,NaN,NaN,NaN,0

In [21]:
onboard_df = onboard_df.pivot(index='FaultId',columns='Name',values='Value')

In [22]:
onboard_df = onboard_df.reset_index()
onboard_df.columns.name = " "

In [23]:
onboard_df.head()

,FaultId,AcceleratorPedal,BarometricPressure,CruiseControlActive,CruiseControlSetSpeed,DistanceLtd,EngineCoolantTemperature,EngineLoad,EngineOilPressure,EngineOilTemperature,EngineRpm,EngineTimeLtd,FuelLevel,FuelLtd,FuelRate,FuelTemperature,IgnStatus,IntakeManifoldTemperature,LampStatus,ParkingBrake,ServiceDistance,Speed,SwitchedBatteryVoltage,Throttle,TurboBoostPressure
0,1,0,14.21,False,66.48672,423178.7,100.4,11,0,96.74375,0,1632.2,43.2,12300.907429328,0,NaN,False,78.8,1023,True,NaN,0,3276.75,NaN,0
1,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
2,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
3,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,1279,NaN,NaN,NaN,NaN,NaN,NaN
4,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16639,NaN,NaN,NaN,NaN,NaN,NaN

# Merging the two tables for EDA

In [24]:
onboard_df.shape

(1187335, 25)

In [25]:
fault_df.shape

(61682, 18)

In [27]:
joined = onboard_df.merge(fault_df,how='outer',left_on='FaultId',right_on='RecordID')

In [29]:
joined.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1187335 entries, 0 to 1187334
Data columns (total 43 columns):
 #   Column                     Non-Null Count    Dtype
---  ------                     --------------    -----
 0   FaultId                    1187335 non-null  int64
 1   AcceleratorPedal           531889 non-null   object
 2   BarometricPressure         585976 non-null   object
 3   CruiseControlActive        574916 non-null   object
 4   CruiseControlSetSpeed      576458 non-null   object
 5   DistanceLtd                585819 non-null   object
 6   EngineCoolantTemperature   586071 non-null   object
 7   EngineLoad                 585621 non-null   object
 8   EngineOilPressure          586244 non-null   object
 9   EngineOilTemperature       583912 non-null   object
 10  EngineRpm                  586921 non-null   object
 11  EngineTimeLtd              581366 non-null   object
 12  FuelLevel                  502795 non-null   object
 13  FuelLtd                    585195 non-null   object
 14  FuelRate                   585237 non-null   object
 15  FuelTemperature            299110 non-null   object
 16  IgnStatus                  608454 non-null   object
 17  IntakeManifoldTemperature  586291 non-null   object
 18  LampStatus                 1187335 non-null  object
 19  ParkingBrake               399972 non-null   object
 20  ServiceDistance            215 non-null      object
 21  Speed                      583916 non-null   object
 22  SwitchedBatteryVoltage     114059 non-null   object
 23  Throttle                   420503 non-null   object
 24  TurboBoostPressure         583351 non-null   object
 25  RecordID                   61682 non-null    float64
 26  ESS_Id                     61682 non-null    float64
 27  EventTimeStamp             61682 non-null    object
 28  eventDescription           55808 non-null    object
 29  ecuSoftwareVersion         48158 non-null    object
 30  ecuSerialNumber            48096 non-null    object
 31  ecuModel                   60245 non-null    object
 32  ecuMake                    60245 non-null    object
 33  spn                        61682 non-null    float64
 34  fmi                        61682 non-null    float64
 35  active                     61682 non-null    object
 36  activeTransitionCount      61682 non-null    float64
 37  EquipmentID                61682 non-null    object
 38  MCTNumber                  61682 non-null    float64
 39  Latitude                   61454 non-null    object
 40  Longitude                  61472 non-null    object
 41  LocationTimeStamp          61682 non-null    object
 42  Location                   61682 non-null    object
dtypes: float64(6), int64(1), object(36)
memory usage: 398.6+ MB